<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Titanic Dataset</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container-main">
        <header class="header">
            <div class="header-div">
                <h1 style="font-size: 2em;color: gold;">About Titanic Dataset</h1>
                <br>
                <h2 style="color: gold;">Source of the Dataset</h2>
                <br>
                <p>The Ames Housing Dataset is sourced from 
                    <a href="https://www.kaggle.com/datasets/heptapod/titanic"style="color: #ff6600;">kaggle</a>.</p>
                <br>
                    <h2 style="color: gold;">Definition of Variables</h2>
                <br>
                    <ul style="text-align: left;">
                <li><strong>PassengerId::</strong> Unique identifier for each passenger.</li>
                <li><strong>Survived:</strong>  Did the passenger survive (1) or perish (0)?.</li>
                <li><strong>Pclass:</strong> Passenger class (1st, 2nd, or 3rd).</li>
                <li><strong>Sex:</strong> Passenger's gender (male or female).</li>
                <li><strong>Age:</strong> Passenger's age in years .</li>
                <li><strong>SibSp:</strong> Number of siblings/spouses aboard (excluding spouse).</li>
                <li><strong>Parch:</strong> Number of parents/children aboard (excluding spouse).</li>
                <li><strong>Ticket:</strong> Unique ticket number.</li>
                <li><strong>Fare</strong> Ticket price.</li>
                <li><strong>Cabin:</strong> Cabin number.</li>
                <li><strong>Embarked:</strong> Port of embarkation (C, Q, or S).</li>

                </ul>
                <br>
                <h2 style="color: gold;">Sample of the Dataset</h2>
        
            </div>
        </header>
    </div>
</body>
</html>
